body {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    margin: auto;
}

div.ball {
    display: grid;
    font-size: 22px;
    font-weight: bold;
    place-content: center;
}